/*.content{
	margin : auto;
	
}*/
/* Bordered form */
form {
	padding : 8%;
		
}
p{
	color : white;
	font-family : Arial;
	font-size : 10pt;
}
body, html {
  height: 100%;
  margin: 0;
}

.container{
	margin-left : 400px;
}
.content{
  /* The image used */
  background-image: url("background.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
	font-weight : normal;
	color : white;
	font-family: Arial;
	
}

.reg_failed{
	color : red;
}
/* Full-width inputs */
input[type=text], input[type=password] {
	background-color : transparent;
	color : white;	
	padding: 12px 12px 12px 12px;
	display: block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-bottom : 15px;
}

::placeholder{
	color : white;
	opacity : 1;
}
/* Set a style for all buttons */
button {
	background-color: turquoise;
	display : inline-block;
	color: white;
	padding: 14px;
	margin-bottom : 15px;
	border: 1px solid white;
	border-radius : 20%
	cursor: pointer;
	width : 87px;	
}

/* Add a hover effect for buttons */
button:hover {
	opacity: 0.8;
}
