@charset "utf-8";
/* CSS Document */

/* -------------------------------------------------------Fonts------------------------------------------------------------ */
@font-face {
    font-family: 'moon_flower_boldregular';
    src: url('fonts/moon_flower_bold-webfont.eot');
    src: url('fonts/moon_flower_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/moon_flower_bold-webfont.woff2') format('woff2'),
         url('fonts/moon_flower_bold-webfont.woff') format('woff'),
         url('fonts/moon_flower_bold-webfont.ttf') format('truetype'),
         url('fonts/moon_flower_bold-webfont.svg#moon_flower_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'moon_flowerregular';
    src: url('fonts/moon_flower-webfont.eot');
    src: url('fonts/moon_flower-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/moon_flower-webfont.woff2') format('woff2'),
         url('fonts/moon_flower-webfont.woff') format('woff'),
         url('fonts/moon_flower-webfont.ttf') format('truetype'),
         url('fonts/moon_flower-webfont.svg#moon_flowerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'Open Sans', sans-serif;
}
/*
New color scheme
#0034F2
#00C2F0
#00F541
#00C2F0
*/


/* ------------------------------------------------------universal-------------------------------------------------------- */
body {
	margin-top: 50px;
    background-color: #fff;
}
.defaultbackgound{
    background-color: #8D230F;
}
.center {
 text-align: center;
}
.centerimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fillspace{
     width: 90%;
     margin: 10px auto;
}
.fillbutton{
    width: 100%;
    background-color: #FAEEB9;
    color: #000;
}
.showcaserow:nth-child(odd){
    background-color: #0e1736;
    color: #FAEEB9 !important;
}
.showcaserow:nth-child(even){
    background-color: #008022;
    color: #0e1736 !important;
}
.showcaserow h2{
	font-family: moon_flower_boldregular, Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.lightbluebg{
    background-color: #0034F2;
}
.tealbg{
    background-color: #00C2F0;
}
.greenbg{
/*   background-color: #00F541; */
    background-color: #008022;
}
.pmodal{
    color: #000;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.skills {
    background-color: #C99E10;
    color: #0e1736;
}
.awards {
    background-color: #0e1736;
    color: #FAEEB9;
}
.warningmsg a{
    color: #FAEEB9;
    text-decoration: underline;
}
.moonflower {
	font-family: moon_flower_boldregular, Arial, Helvetica, sans-serif;
	font-size: 1.75em;
}
.mfheader{
    font-size: 3.5em;
}
.nopadding{
	padding: 0 !important;	
	margin: 0 25px 0 0 !important;
}
.nomargin{
	padding: 0 !important;	
	margin: 0 0 0 0 !important;
}
.center {
	text-align: center;
}
.moonflowerregular {
	font-family: moon_flowerregular, Arial, Helvetica, sans-serif;
	font-size: 1.75em;
}
.bluebg{
    background-color: #0e1736;
    color: #FAEEB9;
}
.redbg{
    background-color: #003e4d;
    color: #FAEEB9;
}

/* -------------------------------------------------------Navbar---------------------------------------------------------- */
/*
.navbar{
    background: #1a1712 !important;  main background 
    border: none !important;
}
*/
/*
.navbar-brand{
    color: #EFE2B7 !important;  text in logo div 
    text-shadow: none !important;
}
*/
/*
@media(max-width:990px){
	.navbar-brand img{
		height: 95%;
		padding-left: 10px;
	}
	body{
		padding-top: 50px;
	}
}
@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
*/
    /*.navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }*/
/*
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
*/
/*
.navbar-brand:hover{
    color: #000 !important;  logo div text on hover 
    text-shadow: none !important;
    background: #CCC !important; 
}
*/
/*
.navbar li a:link, .navbar li a:visited{
    color: #EFE2B7 !important;  main text 
    text-shadow: none !important;
}
*/
/*
.navbar li a:hover{
    color: #00708a !important; 
    text-shadow: none !important;
    background: #CCC !important; 
}
*/
/*
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background: #CCC !important;  dropdown menu 
}
*/
/*
.dropdown-menu{
    background: #FFF !important;  dropdown menu 
    border-radius: 0 !important;
    padding: 0 !important;
}
*/
/*
.divider{
    margin: 0 !important;
}
.moonflower {
	font-family: moon_flower_boldregular, Arial, Helvetica, sans-serif;
	font-size: 1.75em;
}
.nopadding{
	padding: 0 !important;	
	margin: 0 25px 0 0 !important;
}
.gfont{
	font-family: 'Open Sans', sans-serif;
}

.navbar-right li{
    margin: 12px 15px 12px 12px; !important;  
}
.navbar-right li a{
    padding: 22px 5px !important;
    display: inline !important;
    margin-top: 15px !important;
}
.menudesc {
	font-size: 1.15em;	
}
.previewborder{
    border:3px solid black;
}
*/


/* --------------------------------------------------------Hero Carousel----------------------------------------------- */
#herocarousel {
	background-color: #A7836E
}

/* ------------------------------------------------------------Footer-------------------------------------------------------- */
.footer {
	margin: 0 auto;
	padding: 20px 0;
	color: #FFF;
	font-size: .8em;
}
.footer a{
	color: #FFF;
	text-decoration: underline;
}
.footerbg { 
    background-color: #000;
    padding-top: 25px;
	width: 100%;
}
.footerlinkstable {
	text-align: center;
	margin: 0 auto 0 auto;
}
.footerlinkstable td {
	padding: 2px 10px 2px 10px;
}
.footerheader {
	text-align: center;
	font-size: 1.5em;
    text-transform: uppercase;
}
.footeraddress {
	margin-top: 27px;
}
.footerwell {
	background-color: #EFE2B7;
}
.footerwell h4 {
    margin-left: 0;
    padding-left: 0 !important;
}
.top {
        padding-top: 10px;   
    }

.row{
	padding-top: 25px;
}
.row p{
	padding-top: 5px;
}

/* ------------------------------------------------------------Log In-------------------------------------------------------- */
.login{
    color: #0e1736;
    background-color: teal;
}
.login a{
    color: #0e1736;
    text-decoration: underline;
}
.fillspace{
     width: 90%;
     margin: 10px auto;
}
.fillbutton{
    width: 100%;
    background-color: #FAEEB9;
    color: #000;
}
.loginwindow{
    border: 5px #0e1736 solid;
    border-radius: 30px;
    background-color: #9b3228;
}
.enlarge{
    font-size: 4.5em;
}
.forgot{
    color: #FAEEB9;
    font-size: 1.5em;
    text-align: right;
    padding-right: 25px;
}
.forgot a{
    color: #FAEEB9;
}

/* ------------------------------------------------------------Upload-------------------------------------------------------- */
.testerdownloadbtn{
    border: 5px #9b3228 solid;
    border-radius: 20px;
    color: #fff;
    font-size: 3em;
    background-color: #0e1736;
}
.testerdownloadbtn:hover{
    background-color: #000;
    color: #ccc;
}
.downloadbtn{
    border: 5px #0e1736 solid;
    border-radius: 20px;
    color: #000;
    font-size: 3em;
    background-color: #a8a8a8;
}
.downloadbtn:hover{
    background-color: #919297;
}